@use "../../App.scss" as shared;
.dashboard {
    padding-bottom: 40px;
    max-width: 820px;
    margin: 0 auto;

    @media (max-width: shared.$layout-breakpoint-medium) {
        width: 80%;
        margin: 0 auto;
    }
}

.db-buddies-container {
    text-align: center;

    &__heading {
        color: shared.$dark-text;
    }

    &__buddies {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}
