@use "../../App.scss" as shared;

.go-on-walk-modal-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    background: rgba(47, 47, 47, 0.44);
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.go-on-walk-modal {
    background-color: shared.$white;
    border-radius: 20px;
    color: shared.$primary-dark;
    font-weight: 600;
    padding: 20px;
    max-width: 400px;
    text-align: right;

    @media (max-width: shared.$layout-breakpoint-medium) {
        max-width: 350px;
    }
    @media (max-width: shared.$layout-breakpoint-small) {
        max-width: 300px;
        padding: 15px 5px;
        text-align: center;
    }

    &__close {
        background-color: hsl(0, 0%, 0%, 0);
        border: hsl(0, 0%, 0%, 0);
        font-size: 20px;
        color: shared.$primary-dark;
        cursor: pointer;

        &:hover {
            color: shared.$primary-bright;
        }
    }

    &__text {
        padding: 50px;
        text-align: center;
        font-size: 30px;

        @media (max-width: shared.$layout-breakpoint-small) {
            padding: 0;
            width: 70%;
            margin: 0 auto;
            padding: 30px 0;
            font-size: 20px;
        }
    }
}
