@use "../../App.scss" as shared;

.overlay {
    z-index: 100;
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(
        to bottom,
        rgba(82, 65, 65, 0.5) 0%,
        rgba(82, 65, 65, 0.5) 100%
    );
}

.login-modal {
    display: grid;
    justify-items: center;
    position: absolute;
    margin: 5px;
    padding: 20px;
    max-width: 360px;
    place-self: center;
    background-color: shared.$background-color;
    border-radius: 10px;
    color: shared.$dark-text;
    text-align: center;
    z-index: 1000;

    .button--close {
        display: block;
        justify-self: end;
        align-self: start;
        margin-bottom: 5px;
        background-color: shared.$primary;
        border: none;
        border-radius: 4px;
        color: shared.$white;
        cursor: pointer;
    }

    h2 {
        margin: 10px 0;
    }

    p {
        margin: 5px 0 20px;
    }

    &__form {
        display: grid;
        gap: 10px;
        padding: 10px;
        width: 100%;
        max-width: 270px;

        input {
            display: block;
            padding: 0.5rem;
            border: none;
            border-radius: 10px;
            display: block;
        }

        .button--primary {
            margin: 10px 15px 0 15px;
        }
    }
}

