@use "../../scss/shared.scss" as shared;

.home {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    background: url(../../assets/alvan-nee-T-0EW-SEbsE-unsplash.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.home__container {
    align-self: center;
    display: grid;
    place-items: center;
    color: shared.$white;
}