//@use "scss/shared.scss" as shared;

// shared color variables

$dark-text: rgb(38, 21, 15);
$white: rgb(255, 255, 255);
$background-color: rgb(229, 229, 229); 
$primary: rgb(140, 61, 32);
$primary-brigt: rgb(241, 119, 12);
$primary-light: rgb(199, 178, 166);
$primary-light-2: rgb(199, 178, 166); 

// reused elements

.button--primary {
    background-color: $primary;
    padding: 12px 25px;
    border: none; 
    border-radius: 10px;
    color: $white;
    cursor: pointer;
  
    &:hover {
      background-color: $primary-brigt;
    }

    &:active {
      background-color: $primary-brigt;
    }

    &:disabled {
      background-color: $primary-light;
      cursor: not-allowed;
  }
  }

  .heading--main {
    color: $white; 
    font-size: 3rem;
  }