@use "../../App.scss" as shared;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px;
}

.white-nav {
    color: shared.$white;
    box-shadow: none;
  }

.nav {
    display: flex;
    font-weight: 500;
    font-size: 1.2rem;

    &__list {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 12px;
    }

    button {
        font-size: 1.1rem;
    }

    
}



.logo {
    display: flex;
    align-items: center;
    align-items: flex-end;

    &__text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
    }
    
    &__img {
        max-width: 3rem;
    }

}

