@use "../../App.scss" as shared;

.dog-card {
    background: #f2e6df;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px 19px 0px 0px;
    width: 100%;
    max-width: 360px;
    padding-bottom: 20px;

    hr {
        border-top: 1px solid shared.$primary-light;
    }

    &__img {
        display: block;
        //min-width: 200px;
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: 19px 19px 0px 0px;
    }
    &__info {
        margin: 0 1em;
    }

    &__heading {
        font-weight: 300;
        font-size: 18px;
        color: shared.$dark-text;
        margin: 0.5em 0;

        .bold {
            font-weight: 600;
            margin: 0;
            padding: 0;
        }
    }

    &__breed {
        margin: 10px 0;
    }

    &__character {
        padding: 0;
        margin: 5px;
        font-weight: 300;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;

        li + li::before {
            content: "|";
            padding: 5px;
        }
    }

    &__bio {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 13px;
        min-height: 50px;
        border: 1px solid shared.$primary;
        border-radius: 10px;
        padding: 8px;
        position: relative;
    }

    &__bio::before {
        position: absolute;
        content: "bio:";
        display: block;
        background-color: #f2e6df;
        color: shared.$primary;
        padding: 0 5px;
        top: -7px;
        left: 20px;
    }

    &__btncont {
        text-align: center;
        // font-size: 1rem;
    }

    hr {
        width: 100%;
    }
}


