@use "../../App.scss" as shared;

.filter-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
    color: shared.$primary-dark;

    p {
        margin: 15px 0;
    }

    &__checkbox-container {
        display: flex;
        align-items: center;

        label {
            font-size: 14px;
            padding-top: 4px;
        }

        input[type="checkbox"] {
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
            height: 1px;
            overflow: hidden;
            position: absolute;
            white-space: nowrap;
            width: 1px;
        }

        .checkbox {
            display: inline-block;
            height: 25px;
            width: 25px;
            border-radius: 50px;
            background-color: shared.$primary-light;
            margin-right: 5px;
            cursor: pointer;
        }

        .checkbox--active {
            background-color: shared.$primary-dark;
        }
    }
}

// make a general buttonoutline class
.btn--filter {
    // background-color: shared.$primary-light;
    // color: shared.$primary-dark;
    // padding: 0.5em 2.5em;
    // border: 0px;
    // cursor: pointer;
    // border-radius: 10px;
    margin: 0 auto;
}

// .btn--filter:hover {
//     background-color: shared.$primary-dark;
//     color: shared.$white;
// }
