@use "../../App.scss" as shared;

.register {
	margin: 20px;
	h2 {
		text-align: center;
		margin-top: 4rem;
		margin-bottom: 2rem;
	}
}

.registration-form {
	display: grid;
	margin: 0 auto;
	padding: 35px 30px;
	border-radius: 5px;
	gap: 10px;
	max-width: 500px;
	background-color: shared.$primary-light;

	input,
	textarea {
		padding: 8px;
		border: none;
		border-radius: 5px;
		margin-bottom: 15px;
	}

	input[type="radio"] {
		margin-right: 3px;
	}

	&__radios-container {
		display: flex;
		flex-wrap: wrap;
		gap: 15px;
		align-items: center;
		border: 1px solid shared.$primary;

		label {
			flex-direction: row;
			display: flex;
			align-items: center;
		}
	}

	&__pic-preview {
		justify-self: center;
		img {
		width: 100%;
		max-width: 200px;
		justify-self: center;
	}}

	&__btn {
		justify-self: center;
	}
}
